:root {
  --default-font-size: 1.2rem;
  --default-font-family: "Golos Text", "Segoe UI", Tahoma, "Geneva", Verdana,
    sans-serif;
}

button {
  font-family: var(
    --default-font-family,
    "Segoe UI",
    Tahoma,
    "Geneva",
    Verdana,
    sans-serif
  );
}

button:hover {
  color: #8d8d8d;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(
    --default-font-family,
    "Segoe UI",
    Tahoma,
    "Geneva",
    Verdana,
    sans-serif
  );
}

header {
  background-color: darkgray;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px 3px #c9c9c99c;
}

header > h1 {
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0px 16px;
  margin-bottom: 20px;
  flex: 1 auto;
}

.addBookButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 12px;
  margin-bottom: 26px;
  margin-top: 8px;
}

.form-modal-background {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgb(179, 179, 179);
  transition: 0.1s ease-in;
}

.form-modal-background.show-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: grey;
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 70%;
  transition: 0.1s ease-in;
}

.form-container {
  display: none;
}

.form-container.show-modal {
  z-index: 1;
  position: absolute;
  background-color: white;
  display: grid;
  /* width: 200px; */
  padding: 8px 14px;
  box-shadow: 0px 6px 4px 4px rgba(155, 155, 155, 0.322);
  border-radius: 12px 12px;
  grid-template-columns: 360px 32px;
  grid-template-rows: 65vh;
}

.form-container > button {
  font-weight: 700;
}

form {
  display: none;
  width: 50%;
  /* outline: 1px solid black; */
  position: absolute;
  z-index: 1;
  background-color: lightgray;
  padding: 12px;
  transition: 0.1s ease-in;
}

form.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  position: absolute;
  transition: 0.1s ease-in;
  animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  grid-column-start: 1;
  grid-column-end: 2;
  place-self: center;
  width: 90%;
  height: 65vh;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox label {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

button.close-modal {
  /* align-self: flex-end; */
  justify-items: end;
  height: 32px;
  width: 32px;
  display: flex;
  justify-self: end;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
  border: none;
  transition: 0.1s ease-in-out;
}

button.close-modal:hover,
button.close-modal:active {
  /* align-self: flex-end; */
  background-color: lightgray;
  color: black;
  transform: scale(1.01);
}

form > fieldset {
  display: flex;
  flex-direction: column;
  gap: 34px;
  height: auto;
  border-style: none;
  height: 80%;
  width: 80%;
  padding: 0;
  flex: 1;
}

fieldset > label:first-of-type {
  margin-top: 8px;
}

.fieldset-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

legend {
  display: flex;
  gap: 8px;
  font-size: 1.2rem;
  /* transform: scale( 1,2); */
  /* width: 90%; */
  font-weight: 700;
}

button.addBookModal {
  background-color: rgb(100, 125, 172);
  color: white;
  padding: 8px;
  align-self: center;
  height: 60px;
  width: 130px;
  font-size: 1.3rem;
  border: none;
}

button.addBookModal:active,
button.addBookModal:hover {
  background-color: rgb(149 165 195);
  color: white;
}

button[type="submit"] {
  height: 32px;
  font-size: 0.8rem;
  background: lightgray;
  /* width: 90%; */
  border: 2px solid black;
  border: none;
  color: black;
}

button[type="submit"]:hover {
  color: black;
  background-color: rgb(200, 200, 200);
}

.bookDisplayContainer {
  flex-wrap: wrap;
  gap: 24px;
  width: 80vw;
  /* outline: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 12px;
}

.bookDisplayContainer > div {
  /* outline: 1px solid black; */
  height: 270px;
  padding: 20px;
  /* width: 31%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
  gap: 16px;
  background: #d9d9d94f;
  border-radius: 12px 12px;
  box-shadow: 2px 4px 4px 0px #adadad59;
}

.bookDisplayContainer > div > p {
  margin: 0;
}

.bookDisplayContainer > div > button {
  width: 60%;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 4px 0px #80808070;
  height: 30px;
}

.bookDisplayContainer .read-status.not-read {
  background-color: lightcoral;
  color: white;
}

.bookDisplayContainer .read-status.read {
  width: 60%;
  background-color: lightgreen;
  color: white;
}

input[type="checkbox"]:before {
  content: "\2713";
  font-size: 20px;
  color: #292525;
  position: absolute;
  top: -6px;
  left: 1px;
  text-shadow: 1px 1px #444;
  opacity: 0;
  transition: all 0.1s ease;
  font-weight: 700;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  position: relative;
  background-color: white;
}

input[type="checkbox"]:checked:before {
  opacity: 1;

  height: 16px;
  width: 16px;
}

input[type="checkbox"]:checked {
  background-color: rgb(189, 106, 106);
}

input:not([type="checkbox"]) {
  background-color: #ededed;
  border: none;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}

footer {
  width: 100vw;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
